@charset "UTF-8";
@font-face {
    font-family: "DK Lemon Yellow Sun";
    src: url("../font/Lemon Yellow Sun.woff2") format("woff2"),
         url("../font/DK Lemon Yellow Sun.woff") format("woff"),
         url("../font/DK Lemon Yellow Sun.ttf") format("truetype"),
         url("../font/DK Lemon Yellow Sun.eot") format("embedded-opentype"),
         url("../font/DK Lemon Yellow Sun.svg") format("svg");
         font-weight: normal;
        font-style: normal;
  }


  @font-face {
     font-family: "roughage";
     src: url("../font/roughage.woff2") format("woff2"),
          url("../font/roughage.woff") format("woff"),
          url("../font/roughage.ttf") format("truetype"),
          url("../font/roughage.eot") format("embedded-opentype"),
          url("../font/roughage.svg") format("svg");
   }

   @font-face {
     font-family: "xjlFont";
     src: url("../font/xjlFont.woff2") format("woff2"),
          url("../font/xjlFont.woff") format("woff"),
          url("../font/xjlFont.ttf") format("truetype"),
          url("../font/xjlFont.eot") format("embedded-opentype"),
          url("../font/xjlFont.svg") format("svg");
   }