
body{
    font-family:YouYuan,Tahoma,Helvetica,Arial,'宋体',sans-serif; 

}

/* 
导航栏
*/
.header-wrap{
    background-color: #fafafa;
}
/* 
    文章的大标题
*/

.article-title a{
    margin-top: 30px;
}
/*   中间的文章部分   */
.post{
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 3px 2px 4px 2px rgba(25, 25, 25, .3);
    padding-top:30px;
}
.post:first-child {
        padding-top: 10px;
      }

.article-footer .article-meta i{
    vertical-align:baseline;
    margin: 0;
    color: #495A80;
}

.article-footer .article-meta span{
    height: 30px;
    line-height: 30px;
}
.article-footer .article-meta .span--tag i{
    color: #D3D6E0;
}
/*  这里设置的是 时间那块  */

.article-top-meta{
    color: #495A80; 
    border-bottom: 1px solid rgba(73,90,128, 0.2);
    text-align: left;
}
/* 这个是标签 */
.span--tag a{
    display: inline-block;
    width: auto;
    height: 30px;
    font-size: 15px;
    color: #D3D6E0;
    /* background-color: #495A80; */
    border: 1px solid #495A80;
    border-radius: 10%;
    padding:0 10px;
    margin-left: 5px;
}
.span--tag a:hover{
    background-color: #495A80;
    color: #fafafa;
}

/*  这里设置的是分类  */
.article-footer{
    position: relative;
}
.article-footer .later_article-position{
    position: absolute;
    top: -205px;
    left: 105px;
}
/* 
*   a标签：更多
* */
.later_read{
    max-width: 750px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}
.later_read a{
    display: inline-block;
    font-family: "roughage","DK Lemon Yellow Sun","Lora",serif;
    font-size: 24px;
    letter-spacing: 1px;
    font-style: italic;
    color:#495A80;
}



.later_liulan-position{
    position: absolute;
    top: -215px;
    right: 0;
}