@charset "UTF-8";

@font-face {
  font-family: "roughage";
  src: url("roughage.woff2") format("woff2"),
       url("roughage.woff") format("woff"),
       url("roughage.ttf") format("truetype"),
       url("roughage.eot") format("embedded-opentype"),
       url("roughage.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}